<header class="banner">
  <h1 class="title"><a href="/">{{ site.name }}</a></h1>
  <a href="https://github.com/gobbledygook88"><img class="svg-icon" src="/img/svg/github2.svg" alt="Github"
      width="20px" /></a>
  <a href="https://www.alltrails.com/members/marcus-mo/maps"><img class="svg-icon" src="/img/svg/alltrails.svg"
      alt="AllTrails" width="20px" /></a>
  <a href="https://strava.app.link/C5jt2v2v8Jb"><img class="svg-icon" src="/img/svg/strava.svg" alt="Strava"
      width="20px" /></a>
</header>
