<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body>

  <header class="banner">
    <h1 class="title"><a href="/">{{ site.name }}</a></h1>
    <a href="https://github.com/gobbledygook88"><img class="svg-icon" src="/img/svg/github2.svg" alt="Github"
        width="20px" /></a>
  </header>

  <div class="site">
    {{ content }}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
    integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/latex.min.js"
    integrity="sha512-kK//jFMyHXh0McwOv/b3F966UAnHZ1W8sfznS0dhX+gd6yvrPkOi+Fo8dcEBGQGXh4p0k7jquEnv16FybB4T5Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

  <script src="/js/main.js"></script>
  <script src="/js/ga.js"></script>
  <script>hljs.highlightAll();</script>
</body>

</html>
