<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oxygen'>

  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <header class="banner">
    <h1 class="title"><a href="/blog/">{{ site.name }}</a></h1>
    <a href="https://github.com/gobbledygook88"><img class="svg-icon" src="/img/svg/github2.svg" alt="Github"
        width="20px" /></a>
  </header>

  <div class="site">
    {{ content }}
  </div>

  <script src="/js/main.js"></script>
  <script src="/js/ga.js"></script>
</body>

</html>