<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen'>

        <!-- build:css({app,.tmp}) /css/main.css -->
        <link rel="stylesheet" href="/_bower_components/normalize.css/normalize.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->
    </head>
    <body>

        <div class="site">
          <header class="banner">
            <h1 class="title"><a href="/blog/">{{ site.name }}</a></h1>
            <a href="https://github.com/gobbledygook88"><img class="svg-icon" src="/img/svg/github2.svg" alt="Github" width="20px" /></a>
            <a href="https://twitter.com/marcus_mo"><img class="svg-icon" src="/img/svg/social19.svg" alt="Twitter" width="20px" /></a>
            <a href="https://www.google.com/+MarcusMo"><img class="svg-icon" src="/img/svg/google109.svg" alt="Google+" width="20px" /></a>
          </header>

          {{ content }}
        </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <script src="/js/ga.js"></script>
    <!-- endbuild -->
    </body>
</html>
