<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oxygen'>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <header class="banner">
    <h1 class="title"><a href="/">{{ site.name }}</a></h1>
    <a href="https://www.alltrails.com/members/marcus-mo/maps"><img class="svg-icon" src="/img/svg/alltrails.svg"
        alt="AllTrails" width="20px" /></a>
    <a href="https://strava.app.link/C5jt2v2v8Jb"><img class="svg-icon" src="/img/svg/strava.svg" alt="Strava"
        width="20px" /></a>
  </header>

  <!-- this should change to 2 column layout on wide screens (> 1000px) -->
  <!-- whole page can scroll, but left column should be sticky eventually and let right column scroll -->
  <!-- mobile + medium screens should remain as it currently behaves: one column + map sticky -->
  <div class="site">
    <!-- this should be full width -->
    <h2>{{ page.title }}</h2>

    <!-- this should be on the left -->
    <div id="map" data-map-data="{{ page.map.data }}"></div>

    <!-- this should be on the left under the map -->
    <ul class="walk-metadata">
      <li>
        <img class="svg-icon" src="/img/svg/location-dot-solid.svg" alt="Location pin icon" width="20px" />
        {{ page.route.start }} to {{ page.route.end }}
      </li>
      <li>
        <img class="svg-icon"
          src="/img/svg/person-walking-arrow-{{ 'loop-left' if page.route.type.lower() == 'circular' else 'right' }}-solid.svg"
          alt="Person walking icon" width="20px" />
        {{ page.route.type }}
      </li>
      <li>
        <img class="svg-icon" src="/img/svg/road-solid.svg" alt="Road icon" width="20px" />
        {{ page.route.distance }}
      </li>
      <li>
        <img class="svg-icon" src="/img/svg/stopwatch-solid.svg" alt="Stopwatch icon" width="20px" />
        {{ page.route.duration }}
      </li>
      {% if page.route.gpx_url and page.route.gpx_url_text -%}
      <li>
        <img class="svg-icon" src="/img/svg/map-solid.svg" alt="Map icon" width="20px" />
        <a href="{{ page.route.gpx_url }}" target="_blank">{{ page.route.gpx_url_text }}</a>
      </li>
      {% endif %}
    </ul>

    <!-- this should be on the right -->
    <div class="post">
      {{ content }}
    </div>

    <!-- this should be on the right -->
    {% if page.route.waypoints -%}
    <div class="waypoints">
      <h3>Waypoints</h3>

      {% for waypoint in page.route.waypoints -%}
      <div class="waypoint" data-waypoint-latitude="{{ waypoint.latitude }}"
        data-waypoint-longitude="{{ waypoint.longitude }}">
        {% if waypoint.latitude and waypoint.longitude -%}
        <h4>
          <img class="svg-icon" src="/img/svg/location-dot-solid.svg" alt="Location pin icon" />
          {{ waypoint.latitude | round(5) }}, {{ waypoint.longitude | round(5) }}
          {%- if waypoint.title %} - {{ waypoint.title }}{%- endif %}
        </h4>
        {%- endif %}

        {% if waypoint.images -%}
        <figure>
          {% for image in waypoint.images -%}
          <img src="/img/walks/{{ image.url }}" alt="{{ image.alt }}">
          {% endfor %}
        </figure>
        {%- endif %}

        {% if waypoint.text -%}
        <p>{{ waypoint.text }}</p>
        {%- endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <script src="/js/walks.js"></script>
  <script src="/js/ga.js"></script>
</body>

</html>
