<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body>

  {% include 'banner.html' %}

  <div class="site two-columns">
    <h2>{{ page.title }}</h2>

    <aside>
      {% if page.map %}
      <div id="map" data-map-data="{{ page.map.data }}" {% if page.map.zoomLevel
        -%}data-map-zoom-level="{{ page.map.zoomLevel }}" {%- endif -%}></div>
      {% endif %}

      {% if page.video -%}
      <div>
        <iframe
          src="{{ page.video.url }}?autoplay={{ 1 if page.video.autoplay else 0 }}&mute={{ 1 if page.video.mute else 0 }}&loop={{ 1 if page.video.loop else 0 }}&modestbranding=1&controls=0&autohide=1"
          title="{{ page.video.title }}" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; loop"
          referrerpolicy="strict-origin-when-cross-origin"
          style="width: 100%; aspect-ratio: {{ '9 / 16' if page.video.orientation == 'vertical' else '16 / 9'}};"
          allowfullscreen></iframe>
      </div>
      {% endif %}

      <ul class="walk-metadata">
        <li>
          <img class="svg-icon" src="/img/svg/location-dot-solid.svg" alt="Location pin icon" width="20px" />
          {{ page.route.start }} to {{ page.route.end }}
        </li>
        {% if page.route.type %}
        <li>
          <img class="svg-icon"
            src="/img/svg/person-walking-arrow-{{ 'loop-left' if page.route.type.lower() == 'circular' else 'right' }}-solid.svg"
            alt="Person walking icon" width="20px" />
          {{ page.route.type }}
        </li>
        {% endif %}
        {% if page.route.distance %}
        <li>
          <img class="svg-icon" src="/img/svg/road-solid.svg" alt="Road icon" width="20px" />
          {{ page.route.distance }}
        </li>
        {% endif %}
        <li>
          <img class="svg-icon" src="/img/svg/stopwatch-solid.svg" alt="Stopwatch icon" width="20px" />
          {{ page.route.duration }}
        </li>
        {% if page.route.gpx_url and page.route.gpx_url_text -%}
        <li>
          <img class="svg-icon" src="/img/svg/map-solid.svg" alt="Map icon" width="20px" />
          <a href="{{ page.route.gpx_url }}" target="_blank">{{ page.route.gpx_url_text }}</a>
        </li>
        {% endif %}
      </ul>
    </aside>

    <main>
      <div class="post">
        {{ content }}
      </div>

      {% if page.route.waypoints -%}
      <div class="waypoints">
        <h3>Waypoints</h3>

        {% for waypoint in page.route.waypoints -%}
        <div class="waypoint" data-waypoint-latitude="{{ waypoint.latitude }}"
          data-waypoint-longitude="{{ waypoint.longitude }}">
          {% if waypoint.latitude and waypoint.longitude -%}
          <h4>
            <img class="svg-icon" src="/img/svg/location-dot-solid.svg" alt="Location pin icon" />
            {{ waypoint.latitude | round(5) }}, {{ waypoint.longitude | round(5) }}
            {%- if waypoint.title %} - {{ waypoint.title }}{%- endif %}
          </h4>
          {%- endif %}

          {% if waypoint.images -%}
          <figure>
            {% for image in waypoint.images -%}
            {% if image.space == 'break' %}
            <span class="break"></span>
            {% else %}
            <img src="/img/{{ image.url }}" alt="{{ image.alt }}" {% if image.flex -%}style="flex: {{ image.flex }}" {%-
              endif %} />
            {% endif %}
            {% endfor %}
          </figure>
          {%- endif %}

          {% if waypoint.videos -%}
          {% for video in waypoint.videos -%}
          <iframe class="youtube-embed" src="{{ video.url }}" title="{{ video.title }}" frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          {% endfor %}
          {%- endif %}

          {% if waypoint.text -%}
          <p>{{ waypoint.text }}</p>
          {%- endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </main>
  </div>
  </div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <script src="/js/walks.js"></script>
  <script src="/js/ga.js"></script>
</body>

</html>
