<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oxygen'>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/solarized-light.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <!-- build:css({app,.tmp}) /css/main.css -->
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->
</head>

<body>

  <div class="site">
    <header class="banner">
      <h1 class="title"><a href="/blog/">{{ site.name }}</a></h1>
      <a href="https://github.com/gobbledygook88"><img class="svg-icon" src="/img/svg/github2.svg" alt="Github"
          width="20px" /></a>
    </header>

    <h2>{{ page.title }}</h2>

    <div id="map"></div>

    <div class="post">
      {{ content }}
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <!-- build:js(app) /js/scripts.js -->
  <script src="/js/walks.js"></script>
  <script src="/js/ga.js"></script>
  <script>hljs.highlightAll();</script>
  <!-- endbuild -->
</body>

</html>