/*****************************************************************************/
/* Common
/*****************************************************************************/

html, body { height: 100%; }

body {
  background-color: #FEFEFE;
  font: 13.34px Oxygen, Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a { 
  text-decoration: none;
  color: #444; 
}
a:hover   { color: #000; }
a:visited { color: #444; }

table {
  margin: 0 auto;
}

th, td {
  padding: 0 5px;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}

.posts li {
  line-height: 2em;
  text-align: center;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.banner {
  text-align: center;
  margin-bottom: 2em;
}

.title {
  margin-top: 2em;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-align: center;
}

.title a {
  color: #000;
}

.svg-icon {}

/*****************************************************************************/
/* Posts
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #fdf6e3;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #fdf6e3;
  padding: 0 .2em;
  color: #586e75;
}

.post pre code {
  border: none;
}

.post .highlighttable {
  width: 100%;
  padding: 0 60px 0 36px !important;
  background: #fdf6e3;
  color: #586e75;
}

.post .highlighttable .linenos {
  width: 24px;
}

.post .highlighttable pre {
  padding: 10px 0;
  color: #586e75;
  line-height: 1.3em;
}

.post img {
  max-width: 100%;
}
