name: Test branch

on: pull_request

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Run ruff
        run: uv run ruff check
      - name: Check imports
        run: uv run ruff check --select I
